@charset "UTF-8";

.m-board {
  .m-banner {
    height: 1.9rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .m-boardlist {
    margin: .2rem 0;
    padding: .1rem;
    background: #fff;
    h1 {
      line-height: .12rem;
      margin-bottom: .05rem;
      @include flexbox();
      i {
        width: .1rem;
        font-size: .12rem;
        @include transform(scale(0.8));
        color: #999;
      }
      b {
        @include flex();
        font-weight: normal;
      }
    }
    > ul {
      @include flexbox();
      overflow-x: scroll;
      li {
        @include flexbox();
        @include flex-direction(column);
        margin: .05rem;
        img {
          width: .9rem;
          height: 1.25rem;
        }
        b {
          font-weight: normal;
          text-align: center;
        }
      }
    }
  }
}
